.banner {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: max(40px, 8vw);
}
.banner-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  min-width: max-content;
}
.banner-col:last-child {
  justify-content: center;
}
.banner-col:last-child {
  display: none;
}
.banner-title {
  font-size: max(42px, 6vw);
  animation: var(--text-clr-animation);
  text-shadow: var(--text-shadow);
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.banner-text {
  font-size: max(18px, 1.5vw);
  line-height: 1.5;
  text-align: center;

  max-width: 25ch;

  margin-top: 0;
  margin-bottom: 2em;
  animation: var(--text-clr-animation);
  text-shadow: var(--text-shadow);
}
.banner-button {
  font-size: max(16px, 1.8vw);
  font-weight: 500;

  max-width: max-content;

  position: relative;

  padding: 0.5em 1.5em;

  border: 3px solid currentColor;
  border-radius: 3em;

  background-color: transparent;
  color: currentColor;

  animation: var(--text-clr-animation);

  cursor: pointer;

  outline: none;
  transition: transform 300ms ease;
}

.banner-button:hover,
.banner-button:focus {
  text-shadow: 0 0 10px currentColor;
  box-shadow: 0 0 5px 0.2px currentColor, inset 0 0 5px 0.2px currentColor;
}

.banner-button:active {
  transform: scale(0.95);
}
.banner-pictures {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 500px;
  height: 100%;
}
.banner-picture {
  position: absolute;
  transition: all 1s ease;
}
@media (min-width: 568px) {
  .banner-col:first-child {
    align-items: flex-start;
    padding-left: 30px;
  }
  .banner-text {
    max-width: 40ch;
    text-align: start;
  }
}
@media (max-width: 568px) {
  .banner-title {
    font-size: 42px;
  }
}
@media (min-width: 768px) {
  .banner-col:first-child {
    padding-left: 6vw;
  }
  .banner-col:last-child {
    display: flex;
  }
  .banner-pictures {
    transform: translateX(-20px);
  }
  .banner-picture img {
    width: 100px;
    height: auto;
    transition: all 1s ease;
  }
  .banner-picture:nth-child(2) {
    top: 70px;
    left: 70px;
    transform: scale(1.5);
    z-index: 2;
  }
  .banner-picture:nth-child(3) {
    top: 170px;
    left: 170px;
    transform: scale(2);
    z-index: 3;
  }
}
@media (min-width: 1024px) {
  .banner-picture {
    left: -1vw;
    top: unset;
    transform: unset;
  }
  .banner-picture img {
    width: 15vw;
    height: auto;
  }
  .banner-picture:nth-child(1) {
    top: unset;
    left:unset;
    animation: move1 6s ease-in-out infinite;
  }
  .banner-picture:nth-child(2) {
    top: unset;
    left:unset;
    animation: move2 6s ease-in-out infinite;
  }
  .banner-picture:nth-child(3) {
    top: unset;
    left:unset;
    animation: move3 6s ease-in-out infinite;
  }
}
